
@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome!</h1>
    <p>Realize cadastros de contatos com mais facilidade.</a>.</p>
    <span>Seu e-mail é: @Model.Email </span>
</div>
