
@model HomeModel
@{
    ViewData["Title"] = "Pagina Incial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome!</h1>
    <p>Realize cadastros de contatos com mais facilidade.</a>.</p>
    
</div>
